// colors
$accentColor = #3eaf7c
$accentLighten = lighten($accentColor, 8%)
// $textColor = #2c3e50
$textColor = #565a5f
$subtextColor = #565a5f
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$total-width = 100%
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 815px
$containerWidth = 1320px
$gutterWidth = 16px
$columnWidth = 80px
$mainColumn = 7
$sidebarColumn = 3

// responsive breakpoints
$MQWide = 1200px
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

//orther
$majorTimelineHead = 24px
$minorTimelineHead = 12px
$boxShadow = 0 1px 3px rgba(0,0,0,0.05)
// $boxShadow = 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
